* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font: normal 300 20px/1.8 "Work Sans", Helvetica, Arial, sans-serif;
}

.header {
  background: black;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(./img/man.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 80%;
}

.container {
  max-width: 1334px;
  margin: 0 auto;
}
.container-right {
  margin-left: 14%;
}
.header-navigation {
  display: flex;
  justify-content: flex-end;
  padding: 50px 0;
}
.header-navigation_links {
  text-decoration: none;
  color: #999;
  display: block;
  padding: 0px 20px;
  transition: all 0.2s ease-in-out;
}

.header-navigation_links:hover {
  color: rgb(240, 240, 240);
}

.header-content {
  color: white;
}

.header-title {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 96px;
  line-height: 1.1;
  padding-top: 14%;
}

.btn {
  display: inline-block;
  padding: 0 48px;
  border: 2px solid;
  position: relative;
  line-height: 3;
}

.btn-white {
  color: white;
  text-decoration: none;
}
.header-btn {
  margin-top: 40px;
}

.wrapper {
  position: relative;
  top: 85vh;
}

.flex {
  display: flex;
}

.about {
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0% 100%);
  background-color: white;
  padding: 200px 0px;
}

.about-heading {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 66px;
  line-height: 1.1;
  flex: 1;
}

.about-text {
  flex: 1;
}
.light-para {
  color: #999;
  margin-top: 20px;
}

.btn-black {
  color: black;
  text-decoration: none;
}

.about-btn {
  padding: 50px 0;
}

.projects {
  position: relative;
  top: -10vh;
  clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0% 100%);
  background-color: #666;
  padding-bottom: 400px;
}

.project {
  padding-top: 300px;
}
.project-content {
  display: flex;
  flex-direction: column;
}

.project-heading {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 66px;
  line-height: 1.1;
  /* padding-left: 10%; */
  color: white;
  margin-top: 200px;
}

.project-btn {
  margin-top: 64px;
  font-size: 24px;
  line-height: 1.1;
}

.project-prev {
  margin-left: 15%;
}

footer {
  height: 83%;
  position: relative;
  top: -200px;
}

.footer-img {
  background-image: url(./img/footer-background-mountain.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 110vh;
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0% 100%);
}

.footer-heading {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 66px;
  line-height: 1.1;
  padding: 200px 0 50px 0;
  color: white;
}
